<div class="floating-header">
    <div class="floating-header-logo">
        <a href="{{ site.url }}{{ site.baseurl }}">
            {% if site.logo_dark -%}
                <img src="{{ site.baseurl }}{{ site.logo_dark }}" alt="{{ site.title }} icon" />
            {% endif -%}
            <span>{{ site.title }}</span>
        </a>
    </div>
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{ page.title }}</div>
    <div class="floating-header-share">
        <div class="floating-header-share-label">Share this {% include point.html -%}</div>
        <a class="floating-header-share-tw" href="https://twitter.com/share?text={{ page.title | url_encode }}&amp;url={{ site.production_url }}{{ page.url }}"
            onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
            {% include twitter.html -%}
        </a>
        <a class="floating-header-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url }}{{ page.url }}"
            onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
            {% include facebook.html -%}
        </a>
        <a class="floating-header-share-mastodon">
            <input type="checkbox" class="mast-check-toggle">
            <div class="mast-instance">
                <label>Instance:
                <input type="textbox" name="mast-instance-input" placeholder="e.g. mastodon.social">
                </label>
                <button class="mast-share-button">Share</button>
            </div>
            <label class="mast-check-label">
                {% include mastodon.html -%}
            </label>
        </a>
        <script>
document.addEventListener("DOMContentLoaded", function() {
	var mast_shares = Array.from(document.querySelectorAll('.floating-header-share-mastodon'));
    mast_shares.map(function(q,i) {
		q.querySelector('.mast-check-toggle').id = 'mast-check-toggle-'+i;
		q.querySelector('.mast-check-label').htmlFor = 'mast-check-toggle-'+i;
		q.querySelector('.mast-share-button').addEventListener('click', function(e) {
			var webreg=new RegExp("^(?:(?:https?|ftp)://)?(?:\\S+(?::\\S*)?@|\\d{1,3}(?:\\.\\d{1,3}){3}|(?:(?:[a-z\\d\\u00a1-\\uffff]+-?)*[a-z\\d\\u00a1-\\uffff]+)(?:\\.(?:[a-z\\d\\u00a1-\\uffff]+-?)*[a-z\\d\\u00a1-\\uffff]+)*(?:\\.[a-z\\u00a1-\\uffff]{2,6}))(?::\\d+)?(?:[^\\s]*)?$","i");
			var options = "toolbar=no,location=no,status=yes,resizable=yes,scrollbars=yes,height=600,width=400";
			var instance = q.querySelector('input[name="mast-instance-input"]');
			if(webreg.test(instance.value)) {
				var url = `http:\/\/${instance.value.replace(/(^\w+:|^)\/\//, '')}/share?text=${encodeURIComponent(document.title)} ${encodeURIComponent(location.href)}`;
				window.open(url, "new", options);
			} else {
				instance.classList.add('invalid')
				setTimeout(function() {
					instance.classList.remove('invalid')
				}, 300)
			}
		});
	});
});
        </script>

    </div>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
