<meta name="description" content="{% if page.description -%}{{ page.description }}{% else -%}{{ site.description }}{% endif -%}" />
    <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}{{ site.favicon }}" type="image/png" />
    <link rel="canonical" href="{{ site.url }}{% if site.baseurl -%}{{ site.baseurl }}{% endif -%}{{ page.url | remove_first: '/' }}" />
    <meta name="referrer" content="no-referrer-when-downgrade" />

    {% if page.content and page.current == 'post' or page.current == 'about' -%}
        {% assign excerpt = page.content | strip_html | truncatewords: 50, "" -%}
     {% endif -%} <!--title below is coming from _includes/dynamic_title-->
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% if title -%}{{ title }}{% elsif page.title -%}{{ page.title }}{% else -%}{{ site.title }}{% endif -%}" />
    <meta property="og:description" content="{% if excerpt -%}{{ excerpt }}{% elsif page.description -%}{{ page.description }}{% else -%}{{ site.description }}{% endif -%}" />
    <meta property="og:url" content="{{ site.url }}{% if site.baseurl -%}{{ site.baseurl }}{% endif -%}{{ page.url | remove_first: '/' }}" />
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{% if page.cover -%}{{ page.cover }}{% else -%}{{ site.cover }}{% endif -%}" />{% if excerpt %}
    <meta property="og:image:width" content="1400" />
    <meta property="og:image:height" content="933" />{% else -%}
    <meta property="og:image:width" content="2000" />
    <meta property="og:image:height" content="666" />{% endif -%}

    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Website",
    "publisher": {
        "@type": "Organization",
        "name": "{{ site.title }}",
        "logo": "{{ site.url }}{{ site.baseurl }}{{ site.logo }}"
    },
    "url": "{{ site.url }}{% if site.baseurl -%}{{ site.baseurl }}{% endif -%}{{ page.url | remove_first: '/' }}",
    "image": {
        "@type": "ImageObject",
        "url": "{{ site.url }}{{ site.baseurl }}{% if page.cover -%}{{ page.cover }}{% else -%}{{ site.cover }}{% endif -%}",
        "width": 2000,
        "height": 666
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ site.url }}{% if site.baseurl -%}{{ site.baseurl }}{% endif -%}{{ page.url | remove_first: '/' }}"
    },
    "description": "{% if excerpt -%}{{ excerpt }}{% elsif page.description -%}{{ page.description }}{% else -%}{{ site.description }}{% endif -%}"
}
    </script>

    <meta name="generator" content="Jekyll 3.9.0" />
    <link rel="alternate" type="application/rss+xml" title="{% if page.title -%}{{ page.title }}{% else -%}{{ site.title }}{% endif -%}" href="{{ site.baseurl }}feed.xml" />
