<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-art" role="menuitem"><a href="{{site.baseurl}}tag/art/">Art</a></li>
    <li class="nav-writing" role="menuitem"><a href="{{site.baseurl}}tag/writing/">Writing</a></li>
    <li class="nav-letters" role="menuitem"><a href="{{site.baseurl}}tag/letters/">Letters</a></li>
    <li class="nav-souvenir" role="menuitem"><a href="{{site.baseurl}}souvenir/instructions.html">Souvenir</a></li>
    <li class="nav-reviews" role="menuitem"><a href="{{site.baseurl}}reviews/">Reviews</a></li>
</ul>
