---
layout: default
current: page
class: page-template
disqus: false
---

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html -%}
    </div>
</header>

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full {% if page.tags.size > 0 -%}{% for tag in page.tags -%} tag-{{ tag | slugify: "latin" }}{% endfor -%}{% endif -%} {{ page.subclass }} {% unless page.cover -%}no-image{% endunless -%}">

            <header class="post-full-header">
                <h1 class="post-full-title">{{ page.title }}</h1>
            </header>

            {% if page.cover -%}
            <figure class="post-full-image" style="background-image: url({{ site.baseurl }}{{ page.cover }})">
            </figure>
            {% endif -%}

            <section class="post-full-content">
                {{ content }}
            </section>

        </article>

    </div>
</main>

<!-- /post -->

<!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs -->
{% include page-scripts.html -%}
